/* CSS for encapsulating input fields and buttons in a border */
.form-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-width: 420px;
    margin: 0 auto;
    position: relative;
}

#loadingSection {
    background-color: #0046ff;
    height: 100vh; /* to make it cover the whole viewport height */
    color: #ffffff; /* setting the text color to white */
}

#loadingSection p {
    font-size: 24px; /* adjust this value to your desired size */
    font-weight: bold; /* making the text bold */
}

.form-container textarea {
    width: 100%;
    resize: vertical;
    margin-top: 10px;
}

/* Style the labels and input fields */
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

/* Style the submit button */
.form-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Remove default outline on focus */
.form-container input:focus,
.form-container button:focus {
    outline: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* corrected this to column from center */
    padding: 18px 0;
    background-color: #007BFF;
}

.header h1 {
    font-size: 18px;
    margin: 0;
    color: white;
}

body {
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0; /* reset margin */
}

.logo.is-animation {
    margin-top: 0.6em;
}
  
.logo.is-animation span {
    display: inline-block;
    animation: wave-text 1s ease-in-out infinite;
}

/* Added individual animation delays for the span elements */
/* ... [rest of your animation CSS] ... */

@keyframes wave-text {
    0% {
      transform: translateY(0em);
    }
    60% {
      transform: translateY(-0.6em);
    }
    100% {
      transform: translateY(0em);
    }
}

#statsSection {
    width: 60%; /* Adjust width as needed. */
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-value {
    font-weight: bold;
    font-size: 0.9em; /* Adjusts the size of the stats text. */
}
